/* Bordered form */
form {
  background-color: #ffffff80;
  margin-top: 110px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
  padding-top: 8px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 8px;
  margin: 40px 0;
  margin-top: auto;
  display: flex;
  border: 2px solid #000000;
  box-sizing: border-box;
  align-self: flex-end;
}

#txt{
  margin-left: 250px;
  color:red;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Set a style for all buttons */
#login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

#register{
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

p{
  font-size: 35px;
}

/* Add a hover effect for buttons */
#login:hover {
  opacity: 0.8;
}
#register:hover{
  opacity: 0.8;
}
